@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer components {
  .btn {
    @apply border-solid border-2 rounded transition-colors ease-in-out duration-300;
  }
  .btn-solid {
    @apply btn dark:border-slate-900 dark:hover:border-slate-950 dark:bg-slate-900 dark:hover:bg-slate-950;
  }
  .btn-outline {
    @apply btn dark:border-slate-900 dark:bg-slate-800 dark:hover:bg-slate-900;
  }

  .tooltip {
    @apply absolute rounded bg-slate-800 border border-slate-950 p-2 text-xs text-white scale-0 group-hover:scale-100 md:group-hover:scale-0 transition-all;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background: #cbd5e1; /* Track color */
}

::-webkit-scrollbar-thumb {
  background: #334155; /* Thumb color */
}
